source https://nuget.org/api/v2

group Build
  source https://nuget.org/api/v2
  
  nuget Destructurama.FSharp
  nuget FSharp.Compiler.Service
  nuget FSharp.Compiler.Service.ProjectCracker
  nuget FSharp.Core
  nuget Logary
  nuget Microsoft.CodeAnalysis.CSharp
  nuget Microsoft.CodeAnalysis.CSharp.Workspaces
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget Newtonsoft.Json
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2
  nuget Microsoft.Composition
  nuget Microsoft.CSharp
  nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform