type project
owners
    davidpodhola
authors 
    davidpodhola
projectUrl
    http://github.com/hsharpsoftware/fs2cs
iconUrl
    https://raw.githubusercontent.com/hsharpsoftware/fs2cs/master/docs/files/img/logo.png
licenseUrl
    http://github.com/hsharpsoftware/fs2cs/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    fsharp csharp f# c# transpiler
summary
    F# to C# Transpiler
description
    F# to C# Transpiler


